* {
  color: white;

  padding: 0;
  margin: 0;
}
html,body {
  height="100%";
  background: linear-gradient(
    -190deg,
    rgba(30, 30, 121, 0.8) 10%,
    rgba(175, 24, 49, 0.8) 90%
  );
  padding: 0;
  margin: 0;
}
.text,
select {
  display: block;
  width: 100%;
  margin: left auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  height: 30px;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  padding: 2px;
}

fieldset {
  margin: 0px 0px auto;
  padding: 20px;
  border: none;
  display: block;
}
textarea {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: left;
}
form {
  font-size: 20px;
  min-width: 200px;
  max-width: 700px;
  margin: 0px auto;
  background: rgba(0, 0, 10, 0.5);
  margin-bottom: 0;
  border-radius: 10px;
}
header {
  height: 70px;
  background: linear-gradient(
    70deg,
    rgba(12, 7, 54, 0.466) 80%,
    rgba(0, 0, 255, 0.3) 5%,
    rgba(255, 0, 0, 0.5) ,
    rgba(0, 0, 255, 0.2),
    rgba(255, 0, 0, 0.2)
  );
  border-bottom: 5px solid rgb(63, 12, 91);
  border-top: 5px solid rgb(34, 3, 34);
}
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 60px;
  font-size: 25px;
}
#description {
  font-size: 20px;
  margin: auto;
}
input[type="radio"] {
  margin: 7px;
}
p {
  padding-top: 2px;
}

#submit {
  width: 50%;
  font-size: 20px;
  margin: 10px auto;
  height: 50px;
  background: rgb(6, 4, 88);
  color: white;
  border-radius: 20px;
}
#submit:hover {
  color: rgb(154, 214, 116);
  background: rgb(3, 50, 28);
}

input[type="checkbox"] {
  margin: 10px;
}

div {
  display: block;
  padding: 4px;
}

label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  color: rgb(23, 22, 22);
  font-size: 15px;
  border-radius: 10px;
}
.register {
  display: flex;

  justify-content: right;
}
button {
  margin: 10px;
  width: 80px;
  height: 40px;
  color: rgb(190, 182, 212);
  border-radius: 25px;
  background: rgb(6, 4, 88);
}
button:hover {
  width: 90px;
  height: 50px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid black;
}
figure {
  width: 100%;
  padding: 5px;
}
